@import "bourbon";

//@include font-face("Fregat", "../fonts/FregatBoldItalic/Fregat_bold_italic", 700 , italic , $file-formats: eot woff ttf svg);

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext');

@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i&subset=cyrillic,cyrillic-ext,latin-ext');

@include font-face("Myriad Pro", "../fonts/MyriadPro/MyriadProRegular/MyriadProRegular", 400 , $file-formats: eot woff ttf);