header
    .header-top
        .header-blue
            .inner
                .container-fluid
                    .row
                        .col-lg-5
                            a.logo.clearfix(href="#")
                                img(src="img/raster/logo.png")
                                span
                                    | образование
                                    br
                                    | за рубежом
                        .col-lg-7
                            .head-items.clearfix
                                .header-top-item.header-top-item-1
                                    i.icon.iconlogo1
                                    p
                                        | 101000, Москва,
                                        br
                                        | Потаповский пер., д. 5,
                                        br
                                        | стр.2, оф. 203
                                .header-top-item.header-top-item-2
                                    i.icon.iconlogo2
                                    p
                                        | Понедельник-Пятница,
                                        br
                                        | 10:00-19:00
                                .header-top-item.header-top-item-3
                                    i.icon.iconlogo3
                                    p
                                        | 8 495
                                        span 927-02-33
                                        br
                                        | 8 495
                                        span 625-23-81
        .header-mnu
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            ul.h-mn
                                li
                                    a(href="#") ВЫСШЕЕ ОБРАЗОВАНИЕ
                                li
                                    a(href="#") СРЕДНЕЕ ОБРАЗОВАНИЕ
                                li
                                    a(href="#") КУРСЫ ДЛЯ ВЗРОСЛЫХ
                                li
                                    a(href="#") ДЕТСКИЕ ПРОГРАММЫ
                                li
                                    a(href="#") СТАТЬИ
                                li
                                    a(href="#") О КОМПАНИИ
                                li
                                    a(href="#") КОНТАКТЫ
                            .hamburger.hamburger--spin
                                .hamburger-box
                                    .hamburger-inner
    .header-slider
        ul#header-slider.gallery.content-slider.list-unstyled.clearfix
            li.header-slider-li.header-slider-li-1
                .inner
                    .container-fluid
                        .row
                            .col-md-12
                                h1
                                    span EaRlsliffe
                                    br
                                    | college
                                p.p-white Весна и лето
                                    span 2017
                                .test-block
                                p.p-pol-white Интенсивный курс, подготовка к университету, Мини-МВА
                                    br
                                    span Действуют специальные предложения
                                    br
                                    span от 8 до 17 лет
            li.header-slider-li.header-slider-li-2
                .inner
                    .container-fluid
                        .row
                            .col-md-12
                                h1
                                    span EaRlsliffe
                                    br
                                    | college
                                p.p-white Весна и лето
                                    span 2017
                                .test-block
                                p.p-pol-white Интенсивный курс, подготовка к университету, Мини-МВА
                                    br
                                    span Действуют специальные предложения
                                    br
                                    span от 8 до 17 лет