doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header2
        section.content
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .bread-crumbs
                                a(href="#") Главная
                                span |
                                a(href="#") О компании
                            h2
                                | О
                                span  компании
                            .block-bord.block-bord-mod
                                .block-l
                                    p
                                        span Профессионализм, личный опыт и безупречный сервис
                                        |  – вот что отличает нашу компанию, специализирующуюся на предоставлении образовательных услуг за рубежом для детей и взрослых
                                        span  более 15 лет.
                                    p Наша задача рассказать Вам о возможностях и особенностях образования за рубежом, помочь выбрать качественную и наиболее подходящую Вам программу и Школу, быстро и надежно выполнить работу по оформлению зарубежной поездки.
                                    p Недостаточно сказать, что мы работаем на основе прямых договоров только с учебными заведениями, которые лицензированы, аккредитованы, отвечают высоким международным языковым и образовательным стандартам, обеспечивают безопасность учащихся — руководитель компании Ирина Любимова лично посетила и изучила большое количество зарубежных Школ, находится в контакте с их директорами.
                                    p Особенно ответственным является подбор учебного заведения для детей – с учетом их психологии, открытости и развития предлагаются тщательно отобранные языковые программы и лучшие резиденции страны
                                .block-r
                                    img(src="img/raster/gendir.png")
                                    p.p-thin
                                        span Генеральный директор:
                                    p.p-thin
                                        | Любимова Ирина Анатольевна
                                    p.p-thin
                                        i.fa.fa-phone
                                        | +7(966)
                                        span  143-64-43
                                    p.p-thin
                                        i.fa.fa-envelope
                                        | irenal@leif.ru
                    .row
                        .col-md-12
                            .form-blue.form-block
                                p Если у Вас возникли вопросы или хотите получить бесплатную консультацию, пожалуйста, воспользуйтесь формой обратной связи .
                                form.form-shake
                                    .field
                                        input(type="text" name="name" placeholder="напишите Ваше имя" required)
                                    .field
                                        input(type="text" name="phone" placeholder="номер телефона" required)
                                    button.btn.btn-form(name="send") Получить консультацию
        include _footer