doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header2
        section.content
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .bread-crumbs
                                a(href="#") Главная
                                span |
                                a(href="#") Высшее образование
                                span |
                                a(href="#") Canisius Сollege
                            h2
                                | Canisius
                                span  Сollege
                    .row
                        .col-md-12
                            .block-bord.block-bord-sp
                                p
                                    span Canisius College
                                    |  предлагает обучение по более чем 125-ти направлениям. Основные специализации университета: бухгалтерия и МВА, бизнес менеджмент, коммуникации, компьютерные науки, медиа-искусство, экономика, международные отношения и бизнес и психология. Занятия ведут выдающиеся доктора наук – признанные лидеры в своих областях знаний.
                    .row
                        .col-lg-3
                            .block-text.block-text-mod
                                .block-text-item
                                    span.span-left Страна:
                                    span.span-right Австрия
                                .block-text-item
                                    span.span-left Язык:
                                    span.span-right Немецкий
                                .block-text-item
                                    span.span-left Возраст:
                                    span.span-right 16+
                                .block-text-item
                                    span.span-left Студентов в группе:
                                    span.span-right 18-20 чел.
                                .block-text-item
                                    span.span-left Проживание:
                                    span.span-right Резиденция, Семья
                                .block-text-item
                                    span.span-left Заезды:
                                    span.span-right Круглый год

                            .block-grey
                                p.tac Требования к поступлению:
                                p TOEFL iBT 79/IELTS 6.5
                                p
                                    span Аттестат о полном среднем образовании
                                    |  (средний балл не ниже 4.5)
                                p
                                    span Минимальный возраст -
                                    |  17 лет
                            .block-like
                                a.btn.a-like(href="#")
                                    i.fa.fa-heart
                                    |  - добавить в залкадки
                        .col-lg-9
                            .vr-slider
                                ul#vertical.gallery.list-unstyled
                                    li(data-thumb="img/raster/vrsm1.png")
                                        img(src="img/raster/versl.png")
                                    li(data-thumb="img/raster/vrsm2.png")
                                        img(src="img/raster/versl.png")
                                    li(data-thumb="img/raster/vrsm3.png")
                                        img(src="img/raster/versl.png")
                                    li(data-thumb="img/raster/vrsm4.png")
                                        img(src="img/raster/versl.png")
                                    li(data-thumb="img/raster/vrsm1.png")
                                        img(src="img/raster/versl.png")
                                    li(data-thumb="img/raster/vrsm1.png")
                                        img(src="img/raster/versl.png")
                                    li(data-thumb="img/raster/vrsm1.png")
                                        img(src="img/raster/versl.png")
                                a.vr-a-all.vr-a-prev
                                    i.fa.fa-angle-left
                                a.vr-a-all.vr-a-next
                                    i.fa.fa-angle-right
                    .row
                        .col-md-12
                            .tab-container.tabs-con
                                .tabs-top
                                    a.btn.tab-title.active(href="#con1") Об университете
                                    a.btn.tab-title(href="#con2") Основные программы
                                    a.btn.tab-title(href="#con3") Университеты
                                    a.btn.tab-title(href="#con4") Проживание
                                    a.btn.tab-title(href="#con5") Включено и не включено в стоимость
                                    a.btn.tab-title(href="#con6") Расположение на карте
                                #con1.tab-content.tab-block.tab-block-mod
                                    p.p-special
                                        span Canisius College
                                        |   — ведущий частный университет в западной части штата Нью-Йорк, имеющий стабильно высокие рейтинги благодаря высокому качеству обучения, многосторонней поддержке студентов и соотношению цена/качество. Университет основан в 1870 г. Орденом иезуитов из Германии и получил название в честь Святого Петра Канизия. Колледж является одним из 28 учреждений «Ассоциации иезуитских колледжей и университетов». По мнению US News & World Report Canisius College – один из лучших университе тов Северного региона, 2-й – по бухгалтерскому направлению в штате Нью-Йорк. В 2011 – 2012 годах издание Kiplinger’s Personal Finance включило Canisius College в список самых значимых частных университетов, а в 2011 году Forbes признал Canisius College одним из 650 лучших университетов США благодаря качеству преподавания и большим перспективам карьерного роста. Canisius College – единственный частный колледж на Западе штата Нью-Йорк, который входит в топ частных университетов издания Kiplinger.
                                    p.p-special
                                        span Canisius College предлагает обучение по более чем 125-ти направлениям.
                                        |  Основные специализации университета: бухгалтерия и МВА, бизнес менеджмент, коммуникации, компьютерные науки, медиа-искусство, экономика, международные отношения и бизнес и психология. Занятия ведут выдающиеся доктора наук – признанные лидеры в своих областях знаний. Направления обучения:
                                    .blue-block.blue-block-left.clearfix
                                        ul.ul-blue
                                            li бизнес
                                            li финансы, риски и инвестиции
                                            li международный бизнес
                                            li маркетинг
                                            li управление рисками
                                            li международный модный брендинг
                                            li офтальмологическое дозирование
                                            li оптометрия
                                            li ортоптика
                                            li биомедицинская наука
                                            li клеточная и молекулярная биология
                                            li микробиология
                                            li фармакология
                                            li экологическое гражданское строительство
                                            li бионауки о человеке
                                    .blue-block.blue-block-right.clearfix
                                        ul.ul-blue
                                            li бионауки о питании
                                            li разработка компьютерных игр
                                            li дизайн компьютерных игр
                                            li IT менеджмент для бизнеса
                                            li разработка программного обеспечения для бизнеса
                                            li геодезические работы
                                            li управление строительством
                                            li экологический менеджмент
                                            li инжиниринг строительства
                                            li инжиниринг автоматизированного машиностроения
                                            li инжиниринг компьютерных и электронных систем
                                            li электроэнергетика
                                            li электрооборудование, электронное и энергетическое машиностроение
                                            li инжиниринг механических электронных систем
                                    p.p-special
                                        span Университет расположен в городе Буффало штата Нью-Йорк на территории размером 72 акра.
                                        |  Благодаря крупномасштабной реиновации, на проведение которой было инвестировано более 150 млн. долларов, были полностью трансформированы кампус и развитая система тоннелей колледжа, построены 8 новых общежитий и научный центр. Сегодня в распоряжении студентов — просторные оборудованные классы, библиотеки, беспроводной Интернет на всей территории университета, спортивные площадки, атлетический центр, спортивный зал.
                                    p.p-special
                                        span Штат Нью-Йорк — район живописных гор, озер и лесов.
                                        |  Это также родина ряда динамичных университетских городов, включая Буффало, чье процветание обусловлено развитием образования и бизнеса. Современный Буффало — оживленный студенческий город, где, кроме Canisius College, сосредоточены еще 23 университета и колледжа. В городе есть 2 спортивные команды премьер-лиги, работают масса компаний и заведений искусства и культуры. Примечательно, что стоимость жизни в Буффало гораздо ниже, чем в Нью-Йорке или Бостоне, что привлекает сюда как студентов, так и предпринимателей. Город расположен на восточном побережье озера Эри, в северной части штата Нью-Йорк. Ближайший аэропорт — Буффало Ниагара Интернэшнл. Всего в нескольких минутах езды от Буффало — знаменитый Ниагарский водопад и озеро Онтарио.
                                #con2.tab-content.tab-block.tab-block-sp
                                    .fn-line
                                        a.fn-line-a.fn-line-a1
                                            i
                                            | FOUNDATION
                                    .fn-block.fn-block1
                                        p.p-special Обучение по программе Foundation ведет к получению сертификата Foundation, подготавливая студентов к прямому поступлению на 2-й курс университета. Содержание и качество программы утверждены Glasgow Caledonian University. Обучение проходит по одному из выбранных направлений:
                                        ul.ul-black
                                            li Бизнес и менеджмент
                                            li Естественные науки
                                            li Компьютерные технологии, инжиниринг и искусственно созданная окружающая среда
                                            li Международный бизнес, маркетинг моды и управление рисками.
                                        p.p-special Продолжительность обучения варьируется от 3-х до 5-ти триместров в зависимости от программы и уровня языка учащегося:
                                        ul.ul-blue
                                            li стандартный курс — 3 триместра (9 мес.)
                                            li расширенный курс — 4 или 5 триместров (12-15 мес.) обучения с возможностью дополнительного изучения английского языка (перед основной программой)
                                        p.p-special Обучение по каждому из направлений включает академическую подготовку, интенсивный языковой курс, развитие учебных навыков, культурную ориентацию. Учащиеся получают полный статус студента университета и имеют доступ ко всем его ресурсам. При поступлении на программу происходит условное зачисление на 2-й курс университета на программу бакалавриата по соответствующей специальности. Студенты, успешно закончившие обучение, зачисляются на 2-й курс университета в следующих областях:
                                        .block-fl
                                            .blue-block.blue-block-left.clearfix
                                                ul.ul-blue
                                                    li бизнес
                                                    li финансы, риски и инвестиции
                                                    li международный бизнес
                                                    li маркетинг
                                                    li управление рисками
                                                    li международный модный брендинг
                                                    li офтальмологическое дозирование
                                                    li оптометрия
                                                    li ортоптика
                                                    li биомедицинская наука
                                                    li клеточная и молекулярная биология
                                                    li микробиология
                                                    li фармакология
                                                    li экологическое гражданское строительство
                                                    li бионауки о человеке
                                            .blue-block.blue-block-right.clearfix
                                                ul.ul-blue
                                                    li бионауки о питании
                                                    li разработка компьютерных игр
                                                    li дизайн компьютерных игр
                                                    li IT менеджмент для бизнеса
                                                    li разработка программного обеспечения для бизнеса
                                                    li геодезические работы
                                                    li управление строительством
                                                    li экологический менеджмент
                                                    li инжиниринг строительства
                                                    li инжиниринг автоматизированного машиностроения
                                                    li инжиниринг компьютерных и электронных систем
                                                    li электроэнергетика
                                                    li электрооборудование, электронное и энергетическое машиностроение
                                                    li инжиниринг механических электронных систем
                                        .blue-white
                                            i.fa.fa-info-circle
                                            .blue-white-content
                                                h5 Требования к поступлению:
                                                p - IELTS UKVI 4.0 (5 триместров), 4.5 (4 триместра), 5.0 (3 триместра)
                                                p - Аттестат о полном среднем образовании
                                                p - Минимальный возраст – 17 лет
                                        table.table-thin
                                            tr
                                                th(width="50%") Продолжительность обучения
                                                th(width="25%") Стоимость (фунт-стерлинг)
                                                th(width="25%") Начало занятий
                                            tr
                                                td 3 триместра (9 мес.)
                                                td £ 11250
                                                td январь, сентябрь
                                            tr
                                                td 4 триместра (12 мес.)
                                                td £ 15440
                                                td июнь, сентябрь
                                            tr
                                                td 5 триместров (15 мес.)
                                                td £ 19550
                                                td март, июнь
                                    .fn-line
                                        a.fn-line-a.fn-line-a2
                                            i
                                            | МЕЖДУНАРОДНЫЙ ДИПЛОМ
                                    .fn-block.fn-block2
                                        p.p-special Обучение по программе Foundation ведет к получению сертификата Foundation, подготавливая студентов к прямому поступлению на 2-й курс университета. Содержание и качество программы утверждены Glasgow Caledonian University. Обучение проходит по одному из выбранных направлений:
                                        ul.ul-black
                                            li Бизнес и менеджмент
                                            li Естественные науки
                                            li Компьютерные технологии, инжиниринг и искусственно созданная окружающая среда
                                            li Международный бизнес, маркетинг моды и управление рисками.
                                        p.p-special Продолжительность обучения варьируется от 3-х до 5-ти триместров в зависимости от программы и уровня языка учащегося:
                                        ul.ul-blue
                                            li стандартный курс — 3 триместра (9 мес.)
                                            li расширенный курс — 4 или 5 триместров (12-15 мес.) обучения с возможностью дополнительного изучения английского языка (перед основной программой)
                                        p.p-special Обучение по каждому из направлений включает академическую подготовку, интенсивный языковой курс, развитие учебных навыков, культурную ориентацию. Учащиеся получают полный статус студента университета и имеют доступ ко всем его ресурсам. При поступлении на программу происходит условное зачисление на 2-й курс университета на программу бакалавриата по соответствующей специальности. Студенты, успешно закончившие обучение, зачисляются на 2-й курс университета в следующих областях:
                                        .block-fl
                                            .blue-block.blue-block-left.clearfix
                                                ul.ul-blue
                                                    li бизнес
                                                    li финансы, риски и инвестиции
                                                    li международный бизнес
                                                    li маркетинг
                                                    li управление рисками
                                                    li международный модный брендинг
                                                    li офтальмологическое дозирование
                                                    li оптометрия
                                                    li ортоптика
                                                    li биомедицинская наука
                                                    li клеточная и молекулярная биология
                                                    li микробиология
                                                    li фармакология
                                                    li экологическое гражданское строительство
                                                    li бионауки о человеке
                                            .blue-block.blue-block-right.clearfix
                                                ul.ul-blue
                                                    li бионауки о питании
                                                    li разработка компьютерных игр
                                                    li дизайн компьютерных игр
                                                    li IT менеджмент для бизнеса
                                                    li разработка программного обеспечения для бизнеса
                                                    li геодезические работы
                                                    li управление строительством
                                                    li экологический менеджмент
                                                    li инжиниринг строительства
                                                    li инжиниринг автоматизированного машиностроения
                                                    li инжиниринг компьютерных и электронных систем
                                                    li электроэнергетика
                                                    li электрооборудование, электронное и энергетическое машиностроение
                                                    li инжиниринг механических электронных систем
                                        .blue-white
                                            i.fa.fa-info-circle
                                            .blue-white-content
                                                h5 Требования к поступлению:
                                                p - IELTS UKVI 4.0 (5 триместров), 4.5 (4 триместра), 5.0 (3 триместра)
                                                p - Аттестат о полном среднем образовании
                                                p - Минимальный возраст – 17 лет
                                        table.table-thin
                                            tr
                                                th(width="50%") Продолжительность обучения
                                                th(width="25%") Стоимость (фунт-стерлинг)
                                                th(width="25%") Начало занятий
                                            tr
                                                td 3 триместра (9 мес.)
                                                td £ 11250
                                                td январь, сентябрь
                                            tr
                                                td 4 триместра (12 мес.)
                                                td £ 15440
                                                td июнь, сентябрь
                                            tr
                                                td 5 триместров (15 мес.)
                                                td £ 19550
                                                td март, июнь

                                    .fn-line
                                        a.fn-line-a.fn-line-a3
                                            i
                                            | ПОДГОТОВКА К МАГИСТРАТУРЕ
                                    .fn-block.fn-block3
                                        p.p-special Обучение по программе Foundation ведет к получению сертификата Foundation, подготавливая студентов к прямому поступлению на 2-й курс университета. Содержание и качество программы утверждены Glasgow Caledonian University. Обучение проходит по одному из выбранных направлений:
                                        ul.ul-black
                                            li Бизнес и менеджмент
                                            li Естественные науки
                                            li Компьютерные технологии, инжиниринг и искусственно созданная окружающая среда
                                            li Международный бизнес, маркетинг моды и управление рисками.
                                        p.p-special Продолжительность обучения варьируется от 3-х до 5-ти триместров в зависимости от программы и уровня языка учащегося:
                                        ul.ul-blue
                                            li стандартный курс — 3 триместра (9 мес.)
                                            li расширенный курс — 4 или 5 триместров (12-15 мес.) обучения с возможностью дополнительного изучения английского языка (перед основной программой)
                                        p.p-special Обучение по каждому из направлений включает академическую подготовку, интенсивный языковой курс, развитие учебных навыков, культурную ориентацию. Учащиеся получают полный статус студента университета и имеют доступ ко всем его ресурсам. При поступлении на программу происходит условное зачисление на 2-й курс университета на программу бакалавриата по соответствующей специальности. Студенты, успешно закончившие обучение, зачисляются на 2-й курс университета в следующих областях:
                                        .block-fl
                                            .blue-block.blue-block-left.clearfix
                                                ul.ul-blue
                                                    li бизнес
                                                    li финансы, риски и инвестиции
                                                    li международный бизнес
                                                    li маркетинг
                                                    li управление рисками
                                                    li международный модный брендинг
                                                    li офтальмологическое дозирование
                                                    li оптометрия
                                                    li ортоптика
                                                    li биомедицинская наука
                                                    li клеточная и молекулярная биология
                                                    li микробиология
                                                    li фармакология
                                                    li экологическое гражданское строительство
                                                    li бионауки о человеке
                                            .blue-block.blue-block-right.clearfix
                                                ul.ul-blue
                                                    li бионауки о питании
                                                    li разработка компьютерных игр
                                                    li дизайн компьютерных игр
                                                    li IT менеджмент для бизнеса
                                                    li разработка программного обеспечения для бизнеса
                                                    li геодезические работы
                                                    li управление строительством
                                                    li экологический менеджмент
                                                    li инжиниринг строительства
                                                    li инжиниринг автоматизированного машиностроения
                                                    li инжиниринг компьютерных и электронных систем
                                                    li электроэнергетика
                                                    li электрооборудование, электронное и энергетическое машиностроение
                                                    li инжиниринг механических электронных систем
                                        .blue-white
                                            i.fa.fa-info-circle
                                            .blue-white-content
                                                h5 Требования к поступлению:
                                                p - IELTS UKVI 4.0 (5 триместров), 4.5 (4 триместра), 5.0 (3 триместра)
                                                p - Аттестат о полном среднем образовании
                                                p - Минимальный возраст – 17 лет
                                        table.table-thin
                                            tr
                                                th(width="50%") Продолжительность обучения
                                                th(width="25%") Стоимость (фунт-стерлинг)
                                                th(width="25%") Начало занятий
                                            tr
                                                td 3 триместра (9 мес.)
                                                td £ 11250
                                                td январь, сентябрь
                                            tr
                                                td 4 триместра (12 мес.)
                                                td £ 15440
                                                td июнь, сентябрь
                                            tr
                                                td 5 триместров (15 мес.)
                                                td £ 19550
                                                td март, июнь
                                #con3.tab-content.tab-block.tab-block-mod
                                    p.p-special
                                        span При успешном завершении 1-го года обучения в Canisius College, пройдя период адаптации в США и определившись с дальнейшим направлением образования, студентам предоставляется возможность на последующие 3 года перевестись в любой из американских ВУЗов, включая университеты из «Лиги плюща». Желающие могут продолжить обучение в Canisius College. Гарантированно поступление в следующие университеты (при условии соответствия вступительным требованиям):
                                    .blue-block.blue-block-mod
                                        h5
                                            i.fa.fa-check-circle-o
                                            | University of Rochester
                                        img(src="img/raster/un1.png")
                                        a(href="#") Ссылка на официальный сайт
                                    .blue-block.blue-block-mod
                                        h5
                                            i.fa.fa-check-circle-o
                                            | City University of New York: Baruch College
                                        img(src="img/raster/un2.png")
                                        a(href="#") Ссылка на официальный сайт
                                    .blue-block.blue-block-mod
                                        h5
                                            i.fa.fa-check-circle-o
                                            | State University of New York Albany
                                        img(src="img/raster/un3.png")
                                        a(href="#") Ссылка на официальный сайт
                                    .blue-block.blue-block-mod
                                        h5
                                            i.fa.fa-check-circle-o
                                            | State University of New York Geneseo
                                        img(src="img/raster/un4.png")
                                        a(href="#") Ссылка на официальный сайт
                                    p.p-special
                                        span Среди других университетов, где продолжают учебу участники программы — University of Southern California, New York University, Boston University, Syracuse University, George Washington University и многие другие.
                                #con4.tab-content.tab-block.tab-block-mod
                                    p.p-special
                                        span Canisius College имеет 11 общежитий, и у каждого есть своя специфика и особенности. Все общежития полностью меблированы. Многие были специально отремонтированы с учетом современных стандартов. Они дают возможность студентам вести независимый образ жизни, но в безопасных и комфортных жилых условиях. Студенты первого года обучения проживают в обновленных общежитиях Bosh Hall и Frisch Hall. Заезды — по воскресеньям, отъезды — по субботам. Возможна организация проживания за пределами колледжа.
                                    table
                                        tr
                                            th(width="15%") Программы
                                            th(width="15%") Тип комнаты
                                            th(width="15%") Питание
                                            th(width="15%") Стоимость (в долларах)
                                            th(width="40%") Описание
                                        tr
                                            td Дорога в университет
                                            td TWIN
                                            td НB
                                            td $ 12766 / год
                                            td.td-sp Каждое из общежитий Bosh Hall и Frisch Hall вмещают по 250 студентов. На этажаж – 5 ванных комнат. Также на каждом этаже — мини-кухня, общая гостиная и комната для обучения. Во всех номерах есть кабельное телевидение и доступ в Интернет. На цокольном этаже располагаются прачечная и компьютерный зал.
                                    p.p-special
                                        span TWIN
                                        | — комната на 2 чел. (2 кровати)
                                    p.p-special
                                        span НB
                                        | — полупансион (17 раз в неделю)
                                #con5.tab-content.tab-block
                                    p
                                        span В стоимость включено:
                                    ul.ul-green
                                        li
                                            span Обучение по программе
                                        li
                                            span Консультации со стороны кураторов программ
                                        li
                                            span Доступ в учебный центр
                                        li
                                            span Доступ в Интернет (Wi-Fi)
                                    p
                                        span Оплачивается дополнительно:
                                    ul.ul-red
                                        li Регистрационный сбор
                                            span  – $165
                                        li Депозит, закрепляющий место на программе
                                            span Дорога в университет
                                            |  — по запросу
                                        li Обязательный сбор по программе
                                            span Дорога в университет  — $1408
                                        li Технологический сбор
                                            span  — $300
                                        li Ориентация для новый студентов:
                                            ul
                                                li осень
                                                    span  — $400
                                                li весна
                                                    span  — $300
                                        li Трансфер из/а аэропорт Буффало (цена в одну сторону)
                                            span  – $145
                                        li Проживание и питание
                                        li Депозит за проживание (возвратный)
                                            span  — $400
                                        li Страховка школы (обязательна)
                                            span  $1300/год
                                        li Банковские услуги (при оплате программы частями)
                                        li Сдача международных экзаменов
                                        li Консульский сбор
                                            span  – $160
                                        li Сбор SEVIS
                                            span – $200
                                        li Экскурсии и развлечения
                                        li Авиабилеты
                                        li Услуги прачечной
                                        li Медицинская страховка «Ингосстрах»
                                            span  – $4/день
                                        li Доставка оригинала приглашения
                                            span  – $80
                                        li
                                            span Услуги “Лейф”
                                #con6.tab-content.tab-block
                                    p
                                        span Canisius Сollege
                                        br
                                        | 2001 Main St, Buffalo, NY, United States
                                    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d373653.3645181742!2d-79.0349575309299!3d42.97475754903226!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d312bb6ef3d1fd%3A0x1f265fa9068836ad!2z0JrQvtC70LvQtdC00LYg0JrQsNC90LjQt9C40YPRgQ!5e0!3m2!1sru!2sua!4v1496731113893" frameborder="0" style="border:0" allowfullscreen)
                    .row
                        .col-md-12
                            .con-bot
                            h3
                                | Похожие
                                span  учебные заведения
                        .col-md-4
                            .block-item
                                .block-item-img
                                    img(src="img/raster/vis1.png")
                                    .blue-line
                                        .country
                                            img(src="img/raster/united-kingdom.png")
                                        p ActiLingua Academy
                                .block-content
                                    .block-text
                                        .block-text-item
                                            span.span-left Страна:
                                            span.span-right Австрия
                                        .block-text-item
                                            span.span-left Язык:
                                            span.span-right Немецкий
                                        .block-text-item
                                            span.span-left Возраст:
                                            span.span-right 16+
                                        .block-text-item
                                            span.span-left Студентов в группе:
                                            span.span-right 18-20 чел.
                                        .block-text-item
                                            span.span-left Проживание:
                                            span.span-right Резиденция, Семья
                                        .block-text-item
                                            span.span-left Заезды:
                                            span.span-right Круглый год
                                    .white-line
                                        .metka
                                            a(href="#")
                                                i.fa.fa-map-marker
                                                span На карте
                                        a.btn.btn-white(href="#")
                                            span Подробнее
                        .col-md-4
                            .block-item
                                .block-item-img
                                    img(src="img/raster/vis2.png")
                                    .blue-line
                                        .country
                                            img(src="img/raster/united-kingdom.png")
                                        p Active Centre of English Training
                                .block-content
                                    .block-text
                                        .block-text-item
                                            span.span-left Страна:
                                            span.span-right Ирландия
                                        .block-text-item
                                            span.span-left Язык:
                                            span.span-right Английский
                                        .block-text-item
                                            span.span-left Возраст:
                                            span.span-right 16+
                                        .block-text-item
                                            span.span-left Студентов в группе:
                                            span.span-right 10-12 чел.
                                        .block-text-item
                                            span.span-left Проживание:
                                            span.span-right Резиденция, Семья, Отель
                                        .block-text-item
                                            span.span-left Заезды:
                                            span.span-right Круглый год
                                    .white-line
                                        .metka
                                            a(href="#")
                                                i.fa.fa-map-marker
                                                span На карте
                                        a.btn.btn-white(href="#")
                                            span Подробнее
                        .col-md-4
                            .block-item
                                .block-item-img
                                    img(src="img/raster/vis3.png")
                                    .blue-line
                                        .country
                                            img(src="img/raster/united-kingdom.png")
                                        p Active Language Learing
                                .block-content
                                    .block-text
                                        .block-text-item
                                            span.span-left Страна:
                                            span.span-right Ирландия
                                        .block-text-item
                                            span.span-left Язык:
                                            span.span-right Английский
                                        .block-text-item
                                            span.span-left Возраст:
                                            span.span-right 18+
                                        .block-text-item
                                            span.span-left Студентов в группе:
                                            span.span-right 10-12 чел.
                                        .block-text-item
                                            span.span-left Проживание:
                                            span.span-right Семья, Отель
                                        .block-text-item
                                            span.span-left Заезды:
                                            span.span-right Круглый год
                                    .white-line
                                        .metka
                                            a(href="#")
                                                i.fa.fa-map-marker
                                                span На карте
                                        a.btn.btn-white(href="#")
                                            span Подробнее
                    .row
                        .col-md-12
                            .news-mnu
                                a.btn.n-mnu-a.n-mnu-a-left(href="#")
                                    i.fa.fa-angle-left
                                ul
                                    li
                                        a(href="#") 1
                                    li
                                        a(href="#") 2
                                    li
                                        a(href="#") 3
                                a.btn.n-mnu-a.n-mnu-a-right(href="#")
                                    i.fa.fa-angle-right
                            .form-blue.form-block
                                p Если у Вас возникли вопросы или хотите получить бесплатную консультацию, пожалуйста, воспользуйтесь формой обратной связи .
                                form.form-shake
                                    .field
                                        input(type="text" name="name" placeholder="напишите Ваше имя" required)
                                    .field
                                        input(type="text" name="phone" placeholder="номер телефона" required)
                                    button.btn.btn-form(name="send") Получить консультацию
        include _footer