doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header
        section.af-header
            img.img-tabs(src="img/raster/tabs.png")
            .inner
                .container-fluid
                    .row
                        .col-md-4
                            .af-header-item
                                img(src="img/raster/par1.png")
                                .af-header-block
                                    .af-header-block-h
                                        | АНГЛИЙСКИЙ ЯЗЫК ДЛЯ РОДИТЕЛЕЙ С ДЕТЬМИ
                                    .af-header-block-t
                                        | Специальные программы для самых юных студентов — от 1 года — вместе с одним из родителей! Прекрасный вариант для семей, кто впервые решается отправить ребенка на учебу за рубеж и при этом готов пополнить багаж собственных знаний.
                        .col-md-8
                            .row
                                .col-md-6
                                    .af-header-item.af-header-item-mod
                                        img(src="img/raster/par2.png")
                                        .af-header-block
                                            .af-header-block-h.af-header-block-h-mod
                                                | КАНИКУЛЫ В ИРЛАНДИИ
                                            .af-header-block-t
                                                | Широкий выбор программ: классические курсы, английский и спорт — верховая езда, футбол, теннис, гольф, серфинг, парусный спорт, а также интенсивные программы для старшеклассников и лагеря без изучения языка.
                                .col-md-6
                                    .af-header-item.af-header-item-mod
                                        img(src="img/raster/par3.png")
                                        .af-header-block
                                            .af-header-block-h.af-header-block-h-mod
                                                | ЧАСТНЫЕ ШКОЛЫ ВЕЛИКОБРИТАНИИ
                                            .af-header-block-t
                                                | Мы отобрали для Вас только самые лучшие школы, со многими из которых нас связывают долголетнее сотрудничество и прекрасные ученики!
                            .row
                                .col-md-6
                                    .af-header-item.af-header-item-mod-1
                                        img(src="img/raster/par4.png")
                                        .af-header-block
                                            .af-header-block-h.af-header-block-h-mod
                                                | АНГЛИЙСКИЙ ДЛЯ СТУДЕНТОВ
                                .col-md-6
                                    .af-header-item.af-header-item-mod-1
                                        img(src="img/raster/par5.png")
                                        .af-header-block
                                            .af-header-block-h.af-header-block-h-mod
                                                | ДЕТСКИЙ ЛАГЕРЬ В ШВЕЙЦАРИИ
        section.old.high
            .inner
                .container-fluid
                    .row
                        .col-md-4
                            h2 Высшее
                                span  образование
                            .high-item
                                p Если вы заканчиваете школу в России, то вам придётся пройти дополнительное обучение, прежде чем подавать заявление в британский вуз, потому что принимают в британские университеты иностранцев, чье «образование эквивалентно британскому». Наш российский аттестат зрелости эквивалентом не является в основном из-за того, что в российской школе учатся меньше (в Англии — 13 лет).
                                a.a-old.clearfix(href="#")
                                    | Узнать подробнее
                                    i.fa.fa-angle-double-right
                        .col-md-4
                            .block-item
                                .block-item-img
                                    img(src="img/raster/high1.png")
                                    .blue-line
                                        .country
                                            img(src="img/raster/united-kingdom.png")
                                        p INTO City University London
                                .block-content
                                    .block-text
                                        .block-text-item
                                            span.span-left Страна:
                                            span.span-right Австрия
                                        .block-text-item
                                            span.span-left Язык:
                                            span.span-right Немецкий
                                        .block-text-item
                                            span.span-left Возраст:
                                            span.span-right 16+
                                        .block-text-item
                                            span.span-left Студентов в группе:
                                            span.span-right 18-20 чел.
                                        .block-text-item
                                            span.span-left Проживание:
                                            span.span-right Резиденция, Семья
                                        .block-text-item
                                            span.span-left Заезды:
                                            span.span-right Круглый год
                                    .white-line
                                        .metka
                                            a(href="#")
                                                i.fa.fa-map-marker
                                                span На карте
                                        a.btn.btn-white(href="#")
                                            span Подробнее
                        .col-md-4
                            .block-item
                                .block-item-img
                                    img(src="img/raster/high2.png")
                                    .blue-line
                                        .country
                                            img(src="img/raster/united-kingdom.png")
                                        p INTO City University London
                                .block-content
                                    .block-text
                                        .block-text-item
                                            span.span-left Страна:
                                            span.span-right Ирландия
                                        .block-text-item
                                            span.span-left Язык:
                                            span.span-right Английский
                                        .block-text-item
                                            span.span-left Возраст:
                                            span.span-right 16+
                                        .block-text-item
                                            span.span-left Студентов в группе:
                                            span.span-right 10-12 чел.
                                        .block-text-item
                                            span.span-left Проживание:
                                            span.span-right Резиденция, Семья, Отель
                                        .block-text-item
                                            span.span-left Заезды:
                                            span.span-right Круглый год
                                    .white-line
                                        .metka
                                            a(href="#")
                                                i.fa.fa-map-marker
                                                span На карте
                                        a.btn.btn-white(href="#")
                                            span Подробнее

        section.old.middle
            .inner
                .container-fluid
                    .row
                        .col-md-4
                            h2 Среднее
                                span  образование
                        .col-md-8
                            p Многовековые традиции английского среднего образования в сочетании с новейшими технологиями и великолепным оснащением учебных заведений ежегодно привлекают сюда тысячи учеников из различных стран.
                            a.a-old.clearfix(href="#")
                                | Узнать подробнее
                                i.fa.fa-angle-double-right
                    .row
                        .col-md-4
                            .block-item
                                .block-item-img
                                    img(src="img/raster/mid1.png")
                                    .blue-line
                                        .country
                                            img(src="img/raster/united-kingdom.png")
                                        p ACS Cobham International
                                .block-content
                                    .block-text
                                        .block-text-item
                                            span.span-left Страна:
                                            span.span-right Австрия
                                        .block-text-item
                                            span.span-left Язык:
                                            span.span-right Немецкий
                                        .block-text-item
                                            span.span-left Возраст:
                                            span.span-right 16+
                                        .block-text-item
                                            span.span-left Студентов в группе:
                                            span.span-right 18-20 чел.
                                        .block-text-item
                                            span.span-left Проживание:
                                            span.span-right Резиденция, Семья
                                        .block-text-item
                                            span.span-left Заезды:
                                            span.span-right Круглый год
                                    .white-line
                                        .metka
                                            a(href="#")
                                                i.fa.fa-map-marker
                                                span На карте
                                        a.btn.btn-white(href="#")
                                            span Подробнее
                        .col-md-4
                            .block-item
                                .block-item-img
                                    img(src="img/raster/mid2.png")
                                    .blue-line
                                        .country
                                            img(src="img/raster/united-kingdom.png")
                                        p Bedford School
                                .block-content
                                    .block-text
                                        .block-text-item
                                            span.span-left Страна:
                                            span.span-right Ирландия
                                        .block-text-item
                                            span.span-left Язык:
                                            span.span-right Английский
                                        .block-text-item
                                            span.span-left Возраст:
                                            span.span-right 16+
                                        .block-text-item
                                            span.span-left Студентов в группе:
                                            span.span-right 10-12 чел.
                                        .block-text-item
                                            span.span-left Проживание:
                                            span.span-right Резиденция, Семья, Отель
                                        .block-text-item
                                            span.span-left Заезды:
                                            span.span-right Круглый год
                                    .white-line
                                        .metka
                                            a(href="#")
                                                i.fa.fa-map-marker
                                                span На карте
                                        a.btn.btn-white(href="#")
                                            span Подробнее
                        .col-md-4
                            .block-item
                                .block-item-img
                                    img(src="img/raster/mid3.png")
                                    .blue-line
                                        .country
                                            img(src="img/raster/united-kingdom.png")
                                        p Blackrock College
                                .block-content
                                    .block-text
                                        .block-text-item
                                            span.span-left Страна:
                                            span.span-right Ирландия
                                        .block-text-item
                                            span.span-left Язык:
                                            span.span-right Английский
                                        .block-text-item
                                            span.span-left Возраст:
                                            span.span-right 18+
                                        .block-text-item
                                            span.span-left Студентов в группе:
                                            span.span-right 10-12 чел.
                                        .block-text-item
                                            span.span-left Проживание:
                                            span.span-right Семья, Отель
                                        .block-text-item
                                            span.span-left Заезды:
                                            span.span-right Круглый год
                                    .white-line
                                        .metka
                                            a(href="#")
                                                i.fa.fa-map-marker
                                                span На карте
                                        a.btn.btn-white(href="#")
                                            span Подробнее
        section.old.young
            .inner
                .container-fluid
                    .row
                        .col-md-4
                            h2 Детские
                                span  программы
                        .col-md-8
                            p Летние каникулы представляют для школьников замечательную возможность не только улучшить знания иностранного языка, но и реализовать свои творческие способности, лидерство, предпринимательское чутье, попробовать себя в спорте!
                            a.a-old.clearfix(href="#")
                                | Узнать подробнее
                                i.fa.fa-angle-double-right
                    .row
                        .col-md-4
                            .block-item
                                .block-item-img
                                    img(src="img/raster/young1.png")
                                    .blue-line
                                        .country
                                            img(src="img/raster/united-states.png")
                                        p Admiral Farragut Academy
                                .block-content
                                    .block-text
                                        .block-text-item
                                            span.span-left Страна:
                                            span.span-right Австрия
                                        .block-text-item
                                            span.span-left Язык:
                                            span.span-right Немецкий
                                        .block-text-item
                                            span.span-left Возраст:
                                            span.span-right 16+
                                        .block-text-item
                                            span.span-left Студентов в группе:
                                            span.span-right 18-20 чел.
                                        .block-text-item
                                            span.span-left Проживание:
                                            span.span-right Резиденция, Семья
                                        .block-text-item
                                            span.span-left Заезды:
                                            span.span-right Круглый год
                                    .white-line
                                        .metka
                                            a(href="#")
                                                i.fa.fa-map-marker
                                                span На карте
                                        a.btn.btn-white(href="#")
                                            span Подробнее
                        .col-md-4
                            .block-item
                                .block-item-img
                                    img(src="img/raster/young2.png")
                                    .blue-line
                                        .country
                                            img(src="img/raster/ireland.png")
                                        p Alexandra College
                                .block-content
                                    .block-text
                                        .block-text-item
                                            span.span-left Страна:
                                            span.span-right Ирландия
                                        .block-text-item
                                            span.span-left Язык:
                                            span.span-right Английский
                                        .block-text-item
                                            span.span-left Возраст:
                                            span.span-right 16+
                                        .block-text-item
                                            span.span-left Студентов в группе:
                                            span.span-right 10-12 чел.
                                        .block-text-item
                                            span.span-left Проживание:
                                            span.span-right Резиденция, Семья, Отель
                                        .block-text-item
                                            span.span-left Заезды:
                                            span.span-right Круглый год
                                    .white-line
                                        .metka
                                            a(href="#")
                                                i.fa.fa-map-marker
                                                span На карте
                                        a.btn.btn-white(href="#")
                                            span Подробнее
                        .col-md-4
                            .block-item
                                .block-item-img
                                    img(src="img/raster/young3.png")
                                    .blue-line
                                        .country
                                            img(src="img/raster/united-kingdom.png")
                                        p Altitude International Summer
                                .block-content
                                    .block-text
                                        .block-text-item
                                            span.span-left Страна:
                                            span.span-right Ирландия
                                        .block-text-item
                                            span.span-left Язык:
                                            span.span-right Английский
                                        .block-text-item
                                            span.span-left Возраст:
                                            span.span-right 18+
                                        .block-text-item
                                            span.span-left Студентов в группе:
                                            span.span-right 10-12 чел.
                                        .block-text-item
                                            span.span-left Проживание:
                                            span.span-right Семья, Отель
                                        .block-text-item
                                            span.span-left Заезды:
                                            span.span-right Круглый год
                                    .white-line
                                        .metka
                                            a(href="#")
                                                i.fa.fa-map-marker
                                                span На карте
                                        a.btn.btn-white(href="#")
                                            span Подробнее
        section.old
            .inner
                .container-fluid
                    .row
                        .col-md-4
                            h2 курсы для
                                span  взрослых
                        .col-md-8
                            p Знание иностранного языка – ключ к построению карьеры и гармоничному вхождению в мир без границ. Вкладывая деньги в обучение, мы надежно инвестируем их в будущее. Не секрет, чтобы добиться успеха, человеку необходимо учиться...
                            a.a-old.clearfix(href="#")
                                | Узнать подробнее
                                i.fa.fa-angle-double-right
                    .row
                        .col-md-4
                            .block-item
                                .block-item-img
                                    img(src="img/raster/old1.png")
                                    .blue-line
                                        .country
                                        p ActiLingua Academy
                                .block-content
                                    .block-text
                                        .block-text-item
                                            span.span-left Страна:
                                            span.span-right Австрия
                                        .block-text-item
                                            span.span-left Язык:
                                            span.span-right Немецкий
                                        .block-text-item
                                            span.span-left Возраст:
                                            span.span-right 16+
                                        .block-text-item
                                            span.span-left Студентов в группе:
                                            span.span-right 18-20 чел.
                                        .block-text-item
                                            span.span-left Проживание:
                                            span.span-right Резиденция, Семья
                                        .block-text-item
                                            span.span-left Заезды:
                                            span.span-right Круглый год
                                    .white-line
                                        .metka
                                            a(href="#")
                                                i.fa.fa-map-marker
                                                span На карте
                                        a.btn.btn-white(href="#")
                                            span Подробнее
                        .col-md-4
                            .block-item
                                .block-item-img
                                    img(src="img/raster/old2.png")
                                    .blue-line
                                        .country
                                            img(src="img/raster/ireland.png")
                                        p Active Centre of English Training
                                .block-content
                                    .block-text
                                        .block-text-item
                                            span.span-left Страна:
                                            span.span-right Ирландия
                                        .block-text-item
                                            span.span-left Язык:
                                            span.span-right Английский
                                        .block-text-item
                                            span.span-left Возраст:
                                            span.span-right 16+
                                        .block-text-item
                                            span.span-left Студентов в группе:
                                            span.span-right 10-12 чел.
                                        .block-text-item
                                            span.span-left Проживание:
                                            span.span-right Резиденция, Семья, Отель
                                        .block-text-item
                                            span.span-left Заезды:
                                            span.span-right Круглый год
                                    .white-line
                                        .metka
                                            a(href="#")
                                                i.fa.fa-map-marker
                                                span На карте
                                        a.btn.btn-white(href="#")
                                            span Подробнее
                        .col-md-4
                            .block-item
                                .block-item-img
                                    img(src="img/raster/old3.png")
                                    .blue-line
                                        .country
                                            img(src="img/raster/ireland.png")
                                        p Active Language Learing
                                .block-content
                                    .block-text
                                        .block-text-item
                                            span.span-left Страна:
                                            span.span-right Ирландия
                                        .block-text-item
                                            span.span-left Язык:
                                            span.span-right Английский
                                        .block-text-item
                                            span.span-left Возраст:
                                            span.span-right 18+
                                        .block-text-item
                                            span.span-left Студентов в группе:
                                            span.span-right 10-12 чел.
                                        .block-text-item
                                            span.span-left Проживание:
                                            span.span-right Семья, Отель
                                        .block-text-item
                                            span.span-left Заезды:
                                            span.span-right Круглый год
                                    .white-line
                                        .metka
                                            a(href="#")
                                                i.fa.fa-map-marker
                                                span На карте
                                        a.btn.btn-white(href="#")
                                            span Подробнее
        section.feed-back
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .form-blue.form-block
                                p Если у Вас возникли вопросы или хотите получить бесплатную консультацию, пожалуйста, воспользуйтесь формой обратной связи .
                                form.form-shake
                                    .field
                                        input(type="text" name="name" placeholder="напишите Ваше имя" required)
                                    .field
                                        input(type="text" name="phone" placeholder="номер телефона" required)
                                    button.btn.btn-form(name="send") Получить консультацию
        section.bonus
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            h2 Преимущества обучения
                                br
                                span  за рубежом очень велики:
                            p
                                a(href="#") Средние школы и колледжи за границей
                                | помогут Вашим детям глубоко изучить академические предметы на иностранном языке, получить возможность раскрыть внутренний потенциал, повысить шансы при поступлении в зарубежные вузы и получить достойное среднее образование за рубежом.
                            p
                                a(href="#") Языковые курсы и каникулярные программы за рубежом
                                | помогут детям, студентам и взрослым качественно повысить уровень владения иностранным языком и профессиональных навыков, дадут возможность расширить кругозор, завести полезные контакты в интернациональной среде, а также подготовиться к успешной сдаче экзаменов и провести незабываемое время.
                            p
                                a(href="#") Языковые школы и лагеря
                                | станут отличным выбором для тех, кто мечтает пройти курсы английского языка за рубежом.
                            p
                                a(href="#") Университеты за рубежом
                                | откроют доступ к научным и культурным ресурсам, помогут расширить кругозор и развить  самостоятельность при принятии решений, получить бесценный опыт и знания, а диплом, признанный во всем мире на порядок увеличит шансы удачного трудоустройства. Получив высшее образование за рубежом, вы сделаете первый шаг к вашей карьере.
                            p
                                | И самое главное, образование за рубежом никогда не потеряет своей актуальности.
        section.pre-footer
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            h2 Интересные
                                span  Статьи
                    .row
                        .col-md-3.col-sm-6
                            .pre-footer-item
                                img(src="img/raster/news.png")
                                h5 Каникулярные программы для детей
                                p Летние каникулы представляют для школьников замечательную возможность не только улучшить знания иностранного языка, но и реализовать свои творческие способности, лидерство, предпринимательское чутье, попробовать себя в спорте! Стараясь помочь в правильном выборе таких программ с учетом интересов ребенка, особенностей
                        .col-md-3.col-sm-6
                            .pre-footer-item
                                img(src="img/raster/news.png")
                                h5 Каникулярные программы для детей
                                p Летние каникулы представляют для школьников замечательную возможность не только улучшить знания иностранного языка, но и реализовать свои творческие способности, лидерство, предпринимательское чутье, попробовать себя в спорте! Стараясь помочь в правильном выборе таких программ с учетом интересов ребенка, особенностей
                        .col-md-3.col-sm-6
                            .pre-footer-item
                                img(src="img/raster/news.png")
                                h5 Каникулярные программы для детей
                                p Летние каникулы представляют для школьников замечательную возможность не только улучшить знания иностранного языка, но и реализовать свои творческие способности, лидерство, предпринимательское чутье, попробовать себя в спорте! Стараясь помочь в правильном выборе таких программ с учетом интересов ребенка, особенностей
                        .col-md-3.col-sm-6
                            .pre-footer-item
                                img(src="img/raster/news.png")
                                h5 Каникулярные программы для детей
                                p Летние каникулы представляют для школьников замечательную возможность не только улучшить знания иностранного языка, но и реализовать свои творческие способности, лидерство, предпринимательское чутье, попробовать себя в спорте! Стараясь помочь в правильном выборе таких программ с учетом интересов ребенка, особенностей
                    a.a-news(href="#")
                        | Все интересны статьи
                        i.fa.fa-angle-right
        include _footer