doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header2
        section.content
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .bread-crumbs
                                a(href="#") Главная
                                span |
                                a(href="#") Статьи
                                span |
                                a(href="#") Что такое программы интеграции и зачем они нужны
                            h2
                                | Что такое программы интеграции
                                br
                                span  и зачем они нужны
                            .content-inner
                                p Программы интеграции – это уникальная возможность для иностранного школьника на некоторое время стать студентом британской частной школы-пансиона и понять, что означает быть британским учеником школы в Великобритании.
                                p Такие программы, в отличие от языковых курсов для иностранных студентов, позволяют не только усовершенствовать свой английский язык, но и лучше познакомиться с британской культурой, менталитетом англичан, их стилем жизни и кухней, ценностями и историей. Кроме того, ребята получают возможность попробовать что-то новое, а именно увидеть изнутри, как работает лучшая система среднего образования в мире, посмотреть на изучение школьных предметов под другим углом и открыть в себе новые интересы.
                                p По продолжительности программы бывают от нескольких недель до одного или нескольких триместров. В это время дети вместе с британскими школьниками и иностранцами, обучающимися на постоянной основе, посещают школьные занятия, живут с ними в одной резиденции, участвуют во всех культурно-развлекательных и спортивных мероприятиях и экскурсиях, дополнительно получая поддержку в изучении английского языка.
                                img(src="img/raster/full.png")
                                h6 Преимущества, которые студенты получают сразу
                                .content-inner-block
                                    ul
                                        li Приобщение к культуре других стран
                                        li Прогресс успеваемости в школе и рост мотивации к учебе
                                        li Знакомство с альтернативными подходами к обучению
                                        li Развитие аналитических способностей и многозадачности
                                        li Рост интереса к общемировым вопросам и расширение кругозора
                                        li Обретение уверенности в себе и повышение самооценки
                                        li Формирование независимого мнения и навыков принятия обоснованных решений
                                        li Выход из зоны комфорта, встречаясь лицом к лицу с трудностями и преодолевая их
                                        li Возможность завязать дружбу на всю жизнь с людьми из разных стран мира
                                h6 Преимущества в долгосрочной перспективе
                                    .content-inner-block
                                        p Особое внимание на подобные программы следует обратить семьям, которые задумываются о получении среднего или высшего образования за рубежом для своих детей. Программы интеграции – это полноценное погружение в учебный процесс и реальное обучение по программе британского среднего образования, а не моделирование этого процесса и тем более не языковые курсы, хотя стоит отметить, что все иностранные студенты обязательно получают дополнительную поддержку по английскому, посещая специализированные занятия.
                                        p Высшие учебные заведения всегда поощряют подобный опыт обучения за рубежом и расценивают это как дополнительное преимущество кандидата. В долгосрочной перспективе программы интеграции оказывают на студентов значительный эффект. Людям, которые имели возможность в школьном возрасте получить опыт обучения в международной образовательной среде, намного проще и эффективнее удается построить общение с иностранными коллегами и партнерами в будущем.
                                h6 В каком возрасте отправлять ребенка и на какое время
                                    .content-inner-block
                                        p Ребенка можно отправить на программу интеграции практически в любом возрасте – начиная с 7 лет и пока он еще учится в школе.
                                        p Школы предлагают подобные программы продолжительностью от 2 недель до нескольких триместров.
                                        p Важным моментом является наличие мест на программах, так как необходимо, чтобы школа не только имела возможность определить кандидата в подходящий класс его возрастной группы, но также обладала свободным местом в резиденции, поэтому процессом зачисления желательно заниматься заранее.
                                h6 Что необходимо для зачисления на программы интеграции
                                    .content-inner-block
                                        p Зачисление на программу интеграции представляет собой немного упрощенный процесс поступления в британскую школу-пансион на постоянное обучение. Школа должна оценить, насколько ребенку будет комфортно учиться именно в данном учебном заведении, справится ли он с нагрузкой, ведь все школы разные, и далеко не всегда школа, подходящая для одного ребенка, подойдет другому.
                                        p Именно поэтому для зачисления на программы интеграции школы, как правило, требуют предоставить ряд документов, которые могут включать выписки итоговых оценок за последние годы, рекомендации преподавателей (в частности по английскому языку и классного руководителя) и подтверждение опыта зарубежного обучения, если такой имеется. Кроме того, часто школа назначает Skype-интервью с кандидатом, которое позволяет одновременно познакомиться с ребенком, дать ему возможность задать интересующие вопросы о школе и оценить уровень разговорного английского языка.
                            .news-nav.clearfix
                                a.news-nav-a.news-nav-a-left(href="#")
                                    i.fa.fa-caret-left
                                    span Вернуться к списку
                                a.news-nav-a.news-nav-a-right(href="#")
                                    span Следующая статья
                                    i.fa.fa-caret-right
                    .row
                        .col-md-12
                            .form-blue.form-block
                                p Если у Вас возникли вопросы или хотите получить бесплатную консультацию, пожалуйста, воспользуйтесь формой обратной связи .
                                form.form-shake
                                    .field
                                        input(type="text" name="name" placeholder="напишите Ваше имя" required)
                                    .field
                                        input(type="text" name="phone" placeholder="номер телефона" required)
                                    button.btn.btn-form(name="send") Получить консультацию
        include _footer