doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header2
        section.content
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .bread-crumbs
                                a(href="#") Главная
                                span |
                                a(href="#") Статьи
                                span |
                                a(href="#") Что такое программы интеграции и зачем они нужны
                            h2
                                | Что такое программы интеграции
                                br
                                span  и зачем они нужны
                            .content-inner
                                p Программы интеграции – это уникальная возможность для иностранного школьника на некоторое время стать студентом британской частной школы-пансиона и понять, что означает быть британским учеником школы в Великобритании.
                                p Такие программы, в отличие от языковых курсов для иностранных студентов, позволяют не только усовершенствовать свой английский язык, но и лучше познакомиться с британской культурой, менталитетом англичан, их стилем жизни и кухней, ценностями и историей. Кроме того, ребята получают возможность попробовать что-то новое, а именно увидеть изнутри, как работает лучшая система среднего образования в мире, посмотреть на изучение школьных предметов под другим углом и открыть в себе новые интересы.
                                p По продолжительности программы бывают от нескольких недель до одного или нескольких триместров. В это время дети вместе с британскими школьниками и иностранцами, обучающимися на постоянной основе, посещают школьные занятия, живут с ними в одной резиденции, участвуют во всех культурно-развлекательных и спортивных мероприятиях и экскурсиях, дополнительно получая поддержку в изучении английского языка.
        include _footer