doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header2
        section.content
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            .bread-crumbs
                                a(href="#") Главная
                                span |
                                a(href="#") Статьи
                            h2
                                | Все
                                span  статьи
                    .row
                        .col-md-12
                            .news-content
                                .news-item
                                    .col-md-9
                                        h5 Что такое программы интеграции и зачем они нужны
                                        p Многие родители слышали про программы интеграции, но не все точно знают, что это такое. Мы решили пролить свет на то, в чем же преимущество данных программ, для кого они созданы и что необходимо для зачисления.
                                        a.btn.btn-white(href="#") Подробнее
                                    .col-md-3
                                        img(src="img/raster/news1.png")
                                .news-item
                                    .col-md-9
                                        h5 Поступление на медицинскую специальность. Часть 1
                                        p Многие родители слышали про программы интеграции, но не все точно знают, что это такое. Мы решили пролить свет на то, в чем же преимущество данных программ, для кого они созданы и что необходимо для зачисления.
                                        a.btn.btn-white(href="#") Подробнее
                                    .col-md-3
                                        img(src="img/raster/news2.png")
                                .news-item
                                    .col-md-9
                                        h5 Поступление на бизнес и экономику. Часть 2
                                        p Многие родители слышали про программы интеграции, но не все точно знают, что это такое. Мы решили пролить свет на то, в чем же преимущество данных программ, для кого они созданы и что необходимо для зачисления.
                                        a.btn.btn-white(href="#") Подробнее
                                    .col-md-3
                                        img(src="img/raster/news3.png")
                                .news-item
                                    .col-md-9
                                        h5 Поступление на бизнес и экономику. Часть 1
                                        p Многие родители слышали про программы интеграции, но не все точно знают, что это такое. Мы решили пролить свет на то, в чем же преимущество данных программ, для кого они созданы и что необходимо для зачисления.
                                        a.btn.btn-white(href="#") Подробнее
                                    .col-md-3
                                        img(src="img/raster/news4.png")
                                .news-item
                                    .col-md-9
                                        h5 Гид по поступлению в Оксбридж
                                        p Многие родители слышали про программы интеграции, но не все точно знают, что это такое. Мы решили пролить свет на то, в чем же преимущество данных программ, для кого они созданы и что необходимо для зачисления.
                                        a.btn.btn-white(href="#") Подробнее
                                    .col-md-3
                                        img(src="img/raster/news5.png")

                                .news-mnu
                                    a.btn.n-mnu-a.n-mnu-a-left(href="#")
                                        i.fa.fa-angle-left
                                    ul
                                        li
                                            a(href="#") 1
                                        li
                                            a(href="#") 2
                                        li
                                            a(href="#") 3
                                    a.btn.n-mnu-a.n-mnu-a-right(href="#")
                                        i.fa.fa-angle-right
                    .row
                        .col-md-12
                            .form-blue.form-block
                                p Если у Вас возникли вопросы или хотите получить бесплатную консультацию, пожалуйста, воспользуйтесь формой обратной связи .
                                form.form-shake
                                    .field
                                        input(type="text" name="name" placeholder="напишите Ваше имя" required)
                                    .field
                                        input(type="text" name="phone" placeholder="номер телефона" required)
                                    button.btn.btn-form(name="send") Получить консультацию
        include _footer