doctype html
html.no-js(lang='ru')
    include _head
    body
        include _header
        section.content.content-mod
            .inner
                .container-fluid
                    .row
                        .col-md-12
                            h2
                                | Высшее
                                span  образование
                        .col-md-12
                            .block-bord
                                p Если вы заканчиваете школу в России, то вам придётся пройти дополнительное обучение, прежде чем подавать заявление в британский вуз, потому что принимают в британские университеты иностранцев, чье «образование эквивалентно британскому». Наш российский аттестат зрелости эквивалентом не является в основном из-за того, что в российской школе учатся меньше (в Англии — 13 лет).
                                a.clearfix(href="#")
                                    | Узнать подробнее
                                    i.fa.fa-angle-double-right
                    .row
                        .col-md-4
                            .block-item
                                .block-item-img
                                    img(src="img/raster/vis1.png")
                                    .blue-line
                                        .country
                                            img(src="img/raster/united-kingdom.png")
                                        p ActiLingua Academy
                                .block-content
                                    .block-text
                                        .block-text-item
                                            span.span-left Страна:
                                            span.span-right Австрия
                                        .block-text-item
                                            span.span-left Язык:
                                            span.span-right Немецкий
                                        .block-text-item
                                            span.span-left Возраст:
                                            span.span-right 16+
                                        .block-text-item
                                            span.span-left Студентов в группе:
                                            span.span-right 18-20 чел.
                                        .block-text-item
                                            span.span-left Проживание:
                                            span.span-right Резиденция, Семья
                                        .block-text-item
                                            span.span-left Заезды:
                                            span.span-right Круглый год
                                    .white-line
                                        .metka
                                            a(href="#")
                                                i.fa.fa-map-marker
                                                span На карте
                                        a.btn.btn-white(href="#")
                                            span Подробнее
                        .col-md-4
                            .block-item
                                .block-item-img
                                    img(src="img/raster/vis2.png")
                                    .blue-line
                                        .country
                                            img(src="img/raster/united-kingdom.png")
                                        p Active Centre of English Training
                                .block-content
                                    .block-text
                                        .block-text-item
                                            span.span-left Страна:
                                            span.span-right Ирландия
                                        .block-text-item
                                            span.span-left Язык:
                                            span.span-right Английский
                                        .block-text-item
                                            span.span-left Возраст:
                                            span.span-right 16+
                                        .block-text-item
                                            span.span-left Студентов в группе:
                                            span.span-right 10-12 чел.
                                        .block-text-item
                                            span.span-left Проживание:
                                            span.span-right Резиденция, Семья, Отель
                                        .block-text-item
                                            span.span-left Заезды:
                                            span.span-right Круглый год
                                    .white-line
                                        .metka
                                            a(href="#")
                                                i.fa.fa-map-marker
                                                span На карте
                                        a.btn.btn-white(href="#")
                                            span Подробнее
                        .col-md-4
                            .block-item
                                .block-item-img
                                    img(src="img/raster/vis3.png")
                                    .blue-line
                                        .country
                                            img(src="img/raster/united-kingdom.png")
                                        p Active Language Learing
                                .block-content
                                    .block-text
                                        .block-text-item
                                            span.span-left Страна:
                                            span.span-right Ирландия
                                        .block-text-item
                                            span.span-left Язык:
                                            span.span-right Английский
                                        .block-text-item
                                            span.span-left Возраст:
                                            span.span-right 18+
                                        .block-text-item
                                            span.span-left Студентов в группе:
                                            span.span-right 10-12 чел.
                                        .block-text-item
                                            span.span-left Проживание:
                                            span.span-right Семья, Отель
                                        .block-text-item
                                            span.span-left Заезды:
                                            span.span-right Круглый год
                                    .white-line
                                        .metka
                                            a(href="#")
                                                i.fa.fa-map-marker
                                                span На карте
                                        a.btn.btn-white(href="#")
                                            span Подробнее
                    .row
                        .col-md-4
                            .block-item
                                .block-item-img
                                    img(src="img/raster/vis4.png")
                                    .blue-line
                                        .country
                                            img(src="img/raster/united-kingdom.png")
                                        p ActiLingua Academy
                                .block-content
                                    .block-text
                                        .block-text-item
                                            span.span-left Страна:
                                            span.span-right Австрия
                                        .block-text-item
                                            span.span-left Язык:
                                            span.span-right Немецкий
                                        .block-text-item
                                            span.span-left Возраст:
                                            span.span-right 16+
                                        .block-text-item
                                            span.span-left Студентов в группе:
                                            span.span-right 18-20 чел.
                                        .block-text-item
                                            span.span-left Проживание:
                                            span.span-right Резиденция, Семья
                                        .block-text-item
                                            span.span-left Заезды:
                                            span.span-right Круглый год
                                    .white-line
                                        .metka
                                            a(href="#")
                                                i.fa.fa-map-marker
                                                span На карте
                                        a.btn.btn-white(href="#")
                                            span Подробнее
                        .col-md-4
                            .block-item
                                .block-item-img
                                    img(src="img/raster/vis5.png")
                                    .blue-line
                                        .country
                                            img(src="img/raster/united-kingdom.png")
                                        p Active Centre of English Training
                                .block-content
                                    .block-text
                                        .block-text-item
                                            span.span-left Страна:
                                            span.span-right Ирландия
                                        .block-text-item
                                            span.span-left Язык:
                                            span.span-right Английский
                                        .block-text-item
                                            span.span-left Возраст:
                                            span.span-right 16+
                                        .block-text-item
                                            span.span-left Студентов в группе:
                                            span.span-right 10-12 чел.
                                        .block-text-item
                                            span.span-left Проживание:
                                            span.span-right Резиденция, Семья, Отель
                                        .block-text-item
                                            span.span-left Заезды:
                                            span.span-right Круглый год
                                    .white-line
                                        .metka
                                            a(href="#")
                                                i.fa.fa-map-marker
                                                span На карте
                                        a.btn.btn-white(href="#")
                                            span Подробнее
                        .col-md-4
                            .block-item
                                .block-item-img
                                    img(src="img/raster/vis6.png")
                                    .blue-line
                                        .country
                                            img(src="img/raster/united-kingdom.png")
                                        p Active Language Learing
                                .block-content
                                    .block-text
                                        .block-text-item
                                            span.span-left Страна:
                                            span.span-right Ирландия
                                        .block-text-item
                                            span.span-left Язык:
                                            span.span-right Английский
                                        .block-text-item
                                            span.span-left Возраст:
                                            span.span-right 18+
                                        .block-text-item
                                            span.span-left Студентов в группе:
                                            span.span-right 10-12 чел.
                                        .block-text-item
                                            span.span-left Проживание:
                                            span.span-right Семья, Отель
                                        .block-text-item
                                            span.span-left Заезды:
                                            span.span-right Круглый год
                                    .white-line
                                        .metka
                                            a(href="#")
                                                i.fa.fa-map-marker
                                                span На карте
                                        a.btn.btn-white(href="#")
                                            span Подробнее

                    .row
                        .col-md-4
                            .block-item
                                .block-item-img
                                    img(src="img/raster/vis7.png")
                                    .blue-line
                                        .country
                                            img(src="img/raster/united-kingdom.png")
                                        p ActiLingua Academy
                                .block-content
                                    .block-text
                                        .block-text-item
                                            span.span-left Страна:
                                            span.span-right Австрия
                                        .block-text-item
                                            span.span-left Язык:
                                            span.span-right Немецкий
                                        .block-text-item
                                            span.span-left Возраст:
                                            span.span-right 16+
                                        .block-text-item
                                            span.span-left Студентов в группе:
                                            span.span-right 18-20 чел.
                                        .block-text-item
                                            span.span-left Проживание:
                                            span.span-right Резиденция, Семья
                                        .block-text-item
                                            span.span-left Заезды:
                                            span.span-right Круглый год
                                    .white-line
                                        .metka
                                            a(href="#")
                                                i.fa.fa-map-marker
                                                span На карте
                                        a.btn.btn-white(href="#")
                                            span Подробнее
                        .col-md-4
                            .block-item
                                .block-item-img
                                    img(src="img/raster/vis8.png")
                                    .blue-line
                                        .country
                                            img(src="img/raster/united-kingdom.png")
                                        p Active Centre of English Training
                                .block-content
                                    .block-text
                                        .block-text-item
                                            span.span-left Страна:
                                            span.span-right Ирландия
                                        .block-text-item
                                            span.span-left Язык:
                                            span.span-right Английский
                                        .block-text-item
                                            span.span-left Возраст:
                                            span.span-right 16+
                                        .block-text-item
                                            span.span-left Студентов в группе:
                                            span.span-right 10-12 чел.
                                        .block-text-item
                                            span.span-left Проживание:
                                            span.span-right Резиденция, Семья, Отель
                                        .block-text-item
                                            span.span-left Заезды:
                                            span.span-right Круглый год
                                    .white-line
                                        .metka
                                            a(href="#")
                                                i.fa.fa-map-marker
                                                span На карте
                                        a.btn.btn-white(href="#")
                                            span Подробнее
                        .col-md-4
                            .block-item
                                .block-item-img
                                    img(src="img/raster/vis9.png")
                                    .blue-line
                                        .country
                                            img(src="img/raster/united-states.png")
                                        p Active Language Learing
                                .block-content
                                    .block-text
                                        .block-text-item
                                            span.span-left Страна:
                                            span.span-right Ирландия
                                        .block-text-item
                                            span.span-left Язык:
                                            span.span-right Английский
                                        .block-text-item
                                            span.span-left Возраст:
                                            span.span-right 18+
                                        .block-text-item
                                            span.span-left Студентов в группе:
                                            span.span-right 10-12 чел.
                                        .block-text-item
                                            span.span-left Проживание:
                                            span.span-right Семья, Отель
                                        .block-text-item
                                            span.span-left Заезды:
                                            span.span-right Круглый год
                                    .white-line
                                        .metka
                                            a(href="#")
                                                i.fa.fa-map-marker
                                                span На карте
                                        a.btn.btn-white(href="#")
                                            span Подробнее
                    .row
                        .col-md-12
                            .news-mnu
                                a.btn.n-mnu-a.n-mnu-a-left(href="#")
                                    i.fa.fa-angle-left
                                ul
                                    li
                                        a(href="#") 1
                                    li
                                        a(href="#") 2
                                    li
                                        a(href="#") 3
                                a.btn.n-mnu-a.n-mnu-a-right(href="#")
                                    i.fa.fa-angle-right
                            .form-blue.form-block
                                p Если у Вас возникли вопросы или хотите получить бесплатную консультацию, пожалуйста, воспользуйтесь формой обратной связи .
                                form.form-shake
                                    .field
                                        input(type="text" name="name" placeholder="напишите Ваше имя" required)
                                    .field
                                        input(type="text" name="phone" placeholder="номер телефона" required)
                                    button.btn.btn-form(name="send") Получить консультацию
        include _footer